:root {
    --primarycolor: #ac3b61;
    --typocolor: #123c69;
    --lightcolor:#EEE2dc;
    --bgcolor:#e4aa91;
    --padding:8%;
}

* {
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--lightcolor);
    scroll-behavior: smooth;
}

.home{
    width: 100%;
    height:100vh;
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: column;
}

span{
    color: var(--primarycolor);
}

h2 {
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

h1{
    font-size: 4.65rem;
    margin:1.7rem 0;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}

h4{
    font-size: 1.25rem;
    letter-spacing: 0.12;
    color: var(--typocolor);
    
}

nav{
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: .8rem 1.5rem;
    
}

nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    transition: 400ms;
}

nav ul li a:hover{
    color:var(--primarycolor)
}

article{
    width: 100%;
    height: 100vh;
}
.btn{
    text-decoration: none;
    padding: .81rem 1.87rem;
    background-color: var(--primarycolor);
    border-radius: 20px;
    text-align: center;
    transition: 400ms;
    border: transparent 2px solid;
}

.btn:hover{
    background-color: transparent;
    border: 2px var(--primarycolor) solid;
}

.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-container{
    position: relative;
    bottom: 70px;
    
}

.image-container{
    width: 45%;
    height: 90%;
    position: relative;
}

.shape{
    align-self: flex-end;
    bottom: 0;
    height: 100%;
}

.cardline{
    padding: 2rem var(--padding);
    height: 50vh;
    width: 100%;
    background-color: #ac3b61;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.card{
    width: 40%;
    background-color:var(--bgcolor);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: var(--padding);
}

article div .accessorys{
    background: url(../image/accessorys.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(9px);
}

article div .makeup{
    background: url(../image/makeup.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: grayscale(0.5) opacity(0.8);
}

article div .skincare{
    background: url(../image/skincare.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(9px);
}

article div .clothes{
    background: url(../image/clothes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(9px);
}

article div div .btn{
    background-color: var(--typocolor);
}

.btn:hover{
    background-color: transparent;
    border: 2px var(--typocolor) solid;
}

article div div h3{
    background-color: var(--typocolor);
    font-size: 2.1rem;
    margin-right: 90%;
}

footer{
    background-color: var(--bgcolor);
    width: 100%;
    height: 15vh;
    padding: 3%;
}

footer a{
    text-decoration: none;
}


@media screen and (min-width:300px) and (max-width:600px){
nav{
     display:stick;   
     justify-content: space-between;
}

ul{
    display: none;
}

.content{
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 20px;
}

.image-container{
    width: 100%;
    display: flex;
    flex-grow: 5;
    align-items: baseline;
    flex-direction: flex-end;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.shape{
    width: 90%;
    height: fit-content;
}

.text-container{
    flex-grow: 7;
    bottom: 20px;
}
.cardline{
    flex-direction: column;
    height: 100vh;
}

.card{
    width: 100%;
    height: 45%;
    align-items: flex-start;
}
footer{
    position: relative;
    top: 100vh;
}
}


@media screen and (min-width:601px) and (max-width:950px){
    nav{
         display:stick;   
         justify-content: space-between;
    }
    
    ul{
        display: none;
    }
    
    .content{
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
    
    .image-container{
        width: 100%;
        display: flex;
        flex-grow: 5;
        align-items: baseline;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .shape{
        width: 90%;
        height: fit-content;
    }
    
    .text-container{
        flex-grow: 7;
    }
    .cardline{
        flex-direction: column;
        height: 100vh;
    }
    
    .card{
        width: 100%;
        height: 45%;
        align-items: flex-start;
    }
    footer{
        position: relative;
        top: 100vh;
    }
}